.wa-astro-admin-notice {
	background-color: #fff;
	border: 1px solid #c3c4c7;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	padding: 1px 12px;
	border-radius: 8px;
	margin-bottom: 32px;
}

.wa-astro-admin-notice h1,
.wa-astro-admin-notice h2,
.wa-astro-admin-notice h3,
.wa-astro-admin-notice h4 {
	margin-bottom: 0;
	line-height: 1.3333;
}

.wa-astro-admin-notice h1 {
	font-size: 28px;
	line-height: 42px;
}

.wa-astro-admin-notice h2 {
	font-size: 23px;
	line-height: 42px;
}

.wa-astro-admin-notice h3 {
	font-size: 19px;
	line-height: 21px;
}

.wa-astro-admin-notice h4 {
	font-size: 16px;
	line-height: 21px;
}